/* commons */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-size: 16px;
  font-family: "Open-sans", sans-serif;
  line-height: 1.6em;

  background-color: #e5e5e5;
}

.section-inner {
  position: relative;

  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0;
}

.primary-color {
  color: var(--primary);
}

.default-bg {
  position: relative;
}

.default-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url(../images/default-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

  content: "";
}

.text {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;

  color: var(--text);
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

.header .title {
  font-size: 72px;
}

.section-title {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* /commons */
