/* distortions */

.navigation {
  margin-top: 100px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item:nth-child(n+4) {
  margin-bottom: 0;
}

.distortions-title {
  color: var(--white);
  font-size: 52px;
  font-family: var(--title-font);
  line-height: 62px;
}

.card {
  display: block;
  height: 100%;
  padding: 24px;

  text-decoration: none;

  background-color: var(--light);

  transition: 0.2s;
}

.card:hover {
  background-color: var(--primary);
}

.card-num {
  display: block;
  margin-bottom: 40px;

  color: var(--primary-dark);
  font-size: 64px;
  font-family: var(--title-font);
  line-height: 1;

  transition: 0.2s;
}

.card-title {
  margin-bottom: 4px;

  color: var(--primary);

  transition: 0.2s;
}

.card .text {
  color: var(--text);

  transition: 0.2s;
}

.card:hover .card-num,
.card:hover .card-title,
.card:hover .text {
  color: var(--white);
}

/* /distortions */
