/* distortions */

.distortions {
  background-color: var(--primaryDark);
}

.distortions .section-inner {
  display: flex;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 80px;
}

.distortions .item {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.distortions-title {
  color: var(--white);
  font-size: 52px;
  font-family: var(--title-font);
  line-height: 62px;
}

.distortions .card {
  padding: 24px;

  text-decoration: none;

  background-color: var(--bgcLight);

  transition: 0.2s;
}

.distortions .card:hover {
  background-color: var(--primary);
}

/* .distortions .item {
  margin-bottom: 20px;
} */

.distortions .item:nth-child(3n) {
  margin-right: 0;
}

.distortions .card-num {
  display: block;
  margin-bottom: 40px;

  color: var(--primaryDark);
  font-size: 64px;
  font-family: var(--title-font);
  line-height: 1;

  transition: 0.2s;
}

.distortions .card-title {
  margin-bottom: 4px;

  color: var(--primary);

  transition: 0.2s;
}

.distortions .text {
  color: var(--text);

  transition: 0.2s;
}

.distortions .card:hover .card-num,
.distortions .card:hover .card-title,
.distortions .card:hover .text {
  color: var(--white);
}

/* /distortions */
