/* footer */

.footer .info {
  margin-top: 60px;

  text-align: center;
}

.info-link {
  color: var(--blue);
}

.info .wrap-link {
  margin-top: 16px;
}

.footer .news {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;

  background-color: var(--primaryDark);
}

.news .news-title {
  color: var(--white);
  font-size: 36px;
  font-family: var(--title-font);
  line-height: 43px;
}

.wrap-input {
  display: flex;
  margin: 8px 0;
}

.email-title {
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
}

.email-input {
  position: relative;

  width: 394px;
  height: 50px;
  padding: 15px;

  font-size: 18px;

  background-color: var(--white);
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

.email-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.email-btn {
  /* position: relative; */

  width: 70px;
  height: 50px;

  /* padding: 14px 26px; */

  background-color: var(--primary);
  border: none;
  cursor: pointer;

  transition: 0.2s;
}

.email-btn:hover {
  background-color: var(--hoverBtn);
}

.email-btn::before {
  /* position: relative; */

  display: block;
  height: 100%;

  background-image: url(../images/icon.svg);
  background-repeat: no-repeat;
  background-position: center;

  content: '';
}

.rules,
.rules-link {
  color: var(--white);
  font-size: 12px;
}

/* /footer */
