/* footer */

.info {
  margin-top: 60px;

  font-size: 14px;

  text-align: center;
}

.info-link {
  color: var(--blue);
}

.wrap-link {
  margin-top: 16px;
}

.news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

.news-title {
  color: var(--white);
  font-size: 36px;
  font-family: var(--title-font);
  line-height: 43px;
}

.wrap-input {
  display: flex;
  margin: 8px 0;
}

.email-title {
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
}

.email-input {
  position: relative;

  width: 394px;
  padding: 13px 15px;

  font-size: 18px;

  background-color: var(--white);
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

.email-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.email-btn {
  width: 70px;
  height: 50px;
  padding: 0;

  background-color: var(--primary);
  border: none;
  cursor: pointer;

  transition: 0.2s;
}

.email-btn:hover {
  background-color: var(--dark-orange);
}

.email-btn::before {
  display: block;
  height: 100%;

  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-position: center;

  content: '';
}

.rules,
.rules-link {
  color: var(--white);
  font-size: 12px;
}

/* /footer */
