/* header */

.header {
  z-index: 0;

  overflow: hidden;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  height: 525px;
}

.wrapper {
  display: flex;
  margin-top: 225px;
}

.header .w50:nth-child(2) {
  margin-left: 30px;
}

.header .text:first-child {
  margin-bottom: 15px;
}

.header-btn {
  display: inline-block;
  margin-top: 38px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);

  transition: 0.2s;
}

.header-btn:hover {
  background-color: var(--hoverBtn);
}

/* /header */
