/* intro-vidoe */

.intro-video {
  text-align: center;
}

.intro-video .section-inner {
  bottom: -100px;

  padding: 0;
}

.intro-video .section-title {
  margin-bottom: 30px;
}

.video-description {
  margin-bottom: 35px;

  color: #212529;
}

.video {
  display: block;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* /intro-video */
