/* intro-video */

.intro-video {
  text-align: center;
}

.intro-video .section-inner {
  bottom: -100px;
  z-index: 1;

  padding: 0;
}

.section-title {
  margin-bottom: 30px;
}

.video-description {
  margin-bottom: 35px;

  color: #212529;
}

.video {
  display: block;
  margin: 0 auto;
}

/* /intro-video */
