/* variables */

:root {
  --white: #fff;
  --bgcLight: #f5f4f0;
  --primary: #fe8a02;
  --text: #2a2626;
  --primaryDark: #42413c;
  --bgcDark: #b09a81;
  --secondary: #908d8b;
  --blue: #1085c5;
  --hoverBtn: #ea7600;
}

/* /variables */
